.main-content .card {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: justify;
    padding: 0 20px;
    flex-wrap: wrap;
}

.main-content .card .box {
    text-align: center;
    display: inline-block;
    align-items: center;
    padding: 50px 0;
    width: calc(100% / 2 - 15px);
    border-radius: 12px;
    margin-top: 15px;
    border: 1px solid #d1844d;
}

.main-content .card .title-card {
    font-size: 20px;
    font-weight: 500;
}

.main-content .card .content-card {
    font-size: 35px;
    font-weight: 500;
    margin-top: -5px;
    display: inline-block;
}

.card .index-card {
    display: block;
    align-items: center;
    font-size: 12px;
}