/* Nao Mexer, estilo do menu ja pronto */

.menu-area {
    padding-top: 25px;
    height: 100vh;
    background-color: #302c2c;
    min-width: 255px;
    display: flex;
    flex-direction: column;
    z-index: 99999;
    position: fixed;
}

h3,
p {
    margin: 0;
    padding: 0;
    color: #ededed;
    font-size: 16px;
}

.bottom-segment {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}

/* Menu Perfil */

.menu-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 210px;
    margin-bottom: 25px;
}

.avatar {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 1px solid #fff;
}

.joao {
    background-image: url('./images/avatar/joao.jpeg');
    background-position: center;
    background-size: cover;
}

.marcos {
    background-image: url('./images/avatar/marcos.jpeg');
    background-position: top;
    background-size: cover;
}

.gabriel {
    background-image: url('./images/avatar/gabriel.jpeg');
    background-position: center;
    background-size: cover;
}

h3 {
    margin-bottom: 4px;
}

/* Menu Nav */

.menu-nav {
    border-top: 2px solid #383838;
    border-bottom: 2px solid #383838;
    display: flex;
    flex-direction: column;
}

.menu-item {
    height: 57px;
    display: flex;
    align-items: center;
    border-left: 5px solid #302c2c;
    transition: all 0.2s ease;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #201c1c;
    border-left: 5px solid #201c1c;
}

.menu-item.active:hover {
    border-left: 5px solid #D6671A;
}

.active {
    border-left: 5px solid #D6671A;
    background-color: #201c1c;
}

.item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-left: 5px;
}

.menu-item.active svg {
    fill: #D6671A;
}

.item-desc {
    margin-left: 15px;
    color: #8f8f8f;
    text-transform: capitalize;
    font-size: 16px;
}

.menu-item.active .item-desc {
    color: #D6671A;
}

.config {
    border-top: 2px solid #383838;
}

.form-ghost {
    height: 57px;
    display: flex;
    align-items: center;
    border-left: 5px solid #302c2c;
    transition: all 0.2s ease;
    cursor: pointer;
    background-color: #302c2c;
}

.form-ghost:hover {
    border-left: 5px solid #201c1c;
}

.button-sair {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: #302c2c;
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
    cursor: pointer;
}

.button-sair:hover {
    background-color: #201c1c;
}